
	<%= render 'layouts/header' %>
	<div id="maincontentcontainer">
		<div id="about-me-background"></div>
	  <div id="about-me" class="section">
	  	<div id="maincontent">
				<div id="section-1" class="section group">
					<div id="content-1" class="col">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non luctus quam, sit amet tincidunt orci. Proin vitae sem mi. Vestibulum semper nisl quis sem porttitor tempus. Nullam imperdiet ante ut ligula sollicitudin hendrerit. In eu velit fringilla urna vehicula tempus. Cras semper diam id mi fermentum suscipit. Proin adipiscing lacus velit, laoreet pretium elit sagittis vitae. Nullam ac dui et augue ornare laoreet in at est.

						Donec vitae consequat nulla. Integer id libero eget nibh pharetra malesuada at quis lectus. Sed sed nibh mi. Donec at mauris a dolor luctus malesuada. Etiam semper nisl quis libero tincidunt, id porta lacus euismod. Duis eget ligula neque. Donec laoreet felis non libero facilisis, in porttitor libero euismod. Curabitur ornare eros non molestie placerat. Morbi cursus rhoncus ipsum ac mollis. Fusce laoreet dapibus leo nec faucibus. Nam vitae leo quis ipsum tincidunt auctor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse potenti. Sed scelerisque orci et nisi scelerisque, vitae ornare augue viverra. Duis placerat, lorem lobortis tristique pharetra, erat odio porttitor lectus, scelerisque cursus sem nulla ut dolor.

						Sed auctor tellus nibh, in tempor arcu dignissim ut. Integer quis feugiat felis. Maecenas nec consequat lorem. In vitae neque ut leo pretium varius at in purus. Donec nec orci vehicula risus sodales pellentesque. Duis turpis eros, varius sed aliquam ac, posuere eget erat. Duis pretium et justo eget lacinia. Donec laoreet nibh eget est egestas, at pulvinar lacus aliquet.</p>
					</div>
				</div>
			</div>
		</div>
		<div id="quora">
			<div id="maincontent">
				Projects I work on: musicmind, gospelfunder, unisprout, skyhq
				Things I've been apart of: target hope, starter league, 
				Music: pull songs i listen to from soundcloud
			</div>
		</div>
		<div id="my-work" class="section-2">
			<div id="maincontent">	
				<div id="section-2" class="section-2 group">
					<div id="content-2" class="col">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non luctus quam, sit amet tincidunt orci. Proin vitae sem mi. Vestibulum semper nisl quis sem porttitor tempus. Nullam imperdiet ante ut ligula sollicitudin hendrerit. In eu velit fringilla urna vehicula tempus. Cras semper diam id mi fermentum suscipit. Proin adipiscing lacus velit, laoreet pretium elit sagittis vitae. Nullam ac dui et augue ornare laoreet in at est.

						Donec vitae consequat nulla. Integer id libero eget nibh pharetra malesuada at quis lectus. Sed sed nibh mi. Donec at mauris a dolor luctus malesuada. Etiam semper nisl quis libero tincidunt, id porta lacus euismod. Duis eget ligula neque. Donec laoreet felis non libero facilisis, in porttitor libero euismod. Curabitur ornare eros non molestie placerat. Morbi cursus rhoncus ipsum ac mollis. Fusce laoreet dapibus leo nec faucibus. Nam vitae leo quis ipsum tincidunt auctor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse potenti. Sed scelerisque orci et nisi scelerisque, vitae ornare augue viverra. Duis placerat, lorem lobortis tristique pharetra, erat odio porttitor lectus, scelerisque cursus sem nulla ut dolor.

						Sed auctor tellus nibh, in tempor arcu dignissim ut. Integer quis feugiat felis. Maecenas nec consequat lorem. In vitae neque ut leo pretium varius at in purus. Donec nec orci vehicula risus sodales pellentesque. Duis turpis eros, varius sed aliquam ac, posuere eget erat. Duis pretium et justo eget lacinia. Donec laoreet nibh eget est egestas, at pulvinar lacus aliquet.</p>
					</div>
				</div>
			</div>
		</div>
		<div id="music" class="section-3">
			<div id="maincontent">
				<div id="section-3" class="section-3 group">
					<div id="content-3" class="col">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non luctus quam, sit amet tincidunt orci. Proin vitae sem mi. Vestibulum semper nisl quis sem porttitor tempus. Nullam imperdiet ante ut ligula sollicitudin hendrerit. In eu velit fringilla urna vehicula tempus. Cras semper diam id mi fermentum suscipit. Proin adipiscing lacus velit, laoreet pretium elit sagittis vitae. Nullam ac dui et augue ornare laoreet in at est.

						Donec vitae consequat nulla. Integer id libero eget nibh pharetra malesuada at quis lectus. Sed sed nibh mi. Donec at mauris a dolor luctus malesuada. Etiam semper nisl quis libero tincidunt, id porta lacus euismod. Duis eget ligula neque. Donec laoreet felis non libero facilisis, in porttitor libero euismod. Curabitur ornare eros non molestie placerat. Morbi cursus rhoncus ipsum ac mollis. Fusce laoreet dapibus leo nec faucibus. Nam vitae leo quis ipsum tincidunt auctor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse potenti. Sed scelerisque orci et nisi scelerisque, vitae ornare augue viverra. Duis placerat, lorem lobortis tristique pharetra, erat odio porttitor lectus, scelerisque cursus sem nulla ut dolor.

						Sed auctor tellus nibh, in tempor arcu dignissim ut. Integer quis feugiat felis. Maecenas nec consequat lorem. In vitae neque ut leo pretium varius at in purus. Donec nec orci vehicula risus sodales pellentesque. Duis turpis eros, varius sed aliquam ac, posuere eget erat. Duis pretium et justo eget lacinia. Donec laoreet nibh eget est egestas, at pulvinar lacus aliquet.</p>
					</div>
				</div>
			</div>
		</div>
		<div id="social-networks">
			<div id="maincontent">
				<ul>
					<li><a href="https://twitter.com/JRChestang"><i class="icon-twitter icon-3x" id="twitter"></i><p>Twitter</p></a></li>
					<li><a href="https://github.com/joshuachestang"><i class="icon-github icon-3x" id="github"></i><p>Github</p></a></li>
					<li><a href="http://www.linkedin.com/in/chestang"><i class="icon-linkedin icon-3x" id="linkedin"></i><p>LinkedIn</p></a></li>
				</ul>
			</div>
		</div>
		<div id="contact-me" class="section-4">
			<div id="maincontent">
				<div id="section-4" class="section-4 group">
					<div id="content-4" class="col">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque non luctus quam, sit amet tincidunt orci. Proin vitae sem mi. Vestibulum semper nisl quis sem porttitor tempus. Nullam imperdiet ante ut ligula sollicitudin hendrerit. In eu velit fringilla urna vehicula tempus. Cras semper diam id mi fermentum suscipit. Proin adipiscing lacus velit, laoreet pretium elit sagittis vitae. Nullam ac dui et augue ornare laoreet in at est.

						Donec vitae consequat nulla. Integer id libero eget nibh pharetra malesuada at quis lectus. Sed sed nibh mi. Donec at mauris a dolor luctus malesuada. Etiam semper nisl quis libero tincidunt, id porta lacus euismod. Duis eget ligula neque. Donec laoreet felis non libero facilisis, in porttitor libero euismod. Curabitur ornare eros non molestie placerat. Morbi cursus rhoncus ipsum ac mollis. Fusce laoreet dapibus leo nec faucibus. Nam vitae leo quis ipsum tincidunt auctor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse potenti. Sed scelerisque orci et nisi scelerisque, vitae ornare augue viverra. Duis placerat, lorem lobortis tristique pharetra, erat odio porttitor lectus, scelerisque cursus sem nulla ut dolor.

						Sed auctor tellus nibh, in tempor arcu dignissim ut. Integer quis feugiat felis. Maecenas nec consequat lorem. In vitae neque ut leo pretium varius at in purus. Donec nec orci vehicula risus sodales pellentesque. Duis turpis eros, varius sed aliquam ac, posuere eget erat. Duis pretium et justo eget lacinia. Donec laoreet nibh eget est egestas, at pulvinar lacus aliquet.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript">
	$( '#header-right a' ).click( function( e ) {
		e.preventDefault();
		var sectionId = $( this ).attr( 'href' );
		$( 'html, body' ).animate({ scrollTop : $( sectionId ).offset().top }, 'slow');
  });
</script>