/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_self
 *= require_tree .


 */

@font-face{
	font-family:Geometry_Soft_Pro-Bold_N; src: url('Geometry_Soft_Pro-Bold_N.otf');
}



 body{
 	margin:0px;
 	padding: 0px;
 }

 div#header_container{
 	position:fixed; 
 	height:89px;
	width:100%;
	background-color:blue;
	z-index: 90;

 }

 header{
 	position:fixed; 
 	z-index: 90;
 	height:100px;
	width:100%;
	background-color:blue;
	font-family: Geometry_Soft_Pro-Bold_N;
 }

 #header-left{
 	line-height: 89px;
 	text-align: left;
 	float:left;
 	font-size: 30px;
 	margin:0px;
 	width:300px;
 	background-color: white;
 	padding-left:20px;
 	box-shadow: 5px 5px black;
 }

 #header-right{
 	line-height: 89px;
 	text-align: right;
 	float:right;
 	margin:0px;
 }

 #header-right ul{
 	list-style: none;
 	float: right;
 }

 #header-right li a:visited{
 	color:blue;
 }

 #header-right ul li{
	box-shadow: 5px 5px black;
 	float:left;
 	margin-left:19px;
 	margin-right: 20px;
 	padding: 0px 10px 0px 10px;
 	background-color: white;
 	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	color:black;
 }

 #header-right ul li:hover{
 		color:blue;
 }

 #header-right ul li:last-child{
 	margin-right:0px;
 }

img#profile-joshua{
	border-radius:50%;
	height:25px;
	width:25px;
}

#about-me {
	width: 100%;
	height: 900px;

	padding: 0;
	background-size: 100%;
}

#about-me-background{
	width:100%;
	height:900px;
	background: url('backgrounds/antarctic_sky.jpg') 50% 0 no-repeat fixed white;
	position: absolute;
	opacity: 0.6;
	padding: 0;
	background-size: 100%;
}

div#section-1{
	padding-top:150px;
}
  div#content-1{
  	width:100%;
  	height:600px;
  	background-color: white;

  }

  #content-1 p{
  	width:90%;
  	margin: 40px 0px 15px 40px;
  	font-size: 18px;
  	line-height: 30px;
		}

#quora {
	background: white 50% 0 no-repeat fixed #F1F3E8;
	position: absolute;
	top: 900px;
	background-position: 50% -35px;
	height:75px;
	width: 100%;

}

#my-work {
	background: url('backgrounds/breathe.jpg') 50% 0 no-repeat fixed #F1F3E8;
	position: absolute;
	top: 1000px;
	background-position: 50% -35px;
}

div#section-2{
	padding-top:0px;
}
  div#content-2{
  	width:100%;
  	height:600px;
  	background-color: white;

  }

  #content-2 p{
  	width:90%;
  	margin: 40px 0px 15px 40px;
  	font-size: 18px;
  	line-height: 30px;
		}





#quora #maincontent{
	text-align: center;
}

#music{
	background: url('backgrounds/ocean-cavern.jpg') 50% 0 repeat fixed #F1F3E8;
	position: absolute;
	top: 1850px;
	background-position: 50% -35px;

}

div#section-3{
	padding-top:0px;
}
  div#content-3{
  	width:100%;
  	height:600px;
  	background-color: white;

  }

  #content-3 p{
  	width:90%;
  	margin: 40px 0px 15px 40px;
  	font-size: 18px;
  	line-height: 30px;
		}

#social-networks {
	background: white 50% 0 no-repeat fixed #F1F3E8;
	position: absolute;
	top: 2600px;
	background-position: 50% -35px;
	height:100px;
	width: 100%;
}

#social-networks #maincontent{
	height:100px;
}

#social-networks #maincontent ul{
	list-style: none;
	font-size: 20px;
	text-align: center;
	margin-top: 30px;
}

#social-networks #maincontent ul li{

	margin:0px 50px 0px 50px;
  display:inline-block;
  *display:inline; /*IE7*/
  *zoom:1; /*IE7*/
}

#social-networks #maincontent ul li p{
	color:white;
}

#social-networks #maincontent ul li a:visited{
	color:black;
}

#social-networks #maincontent ul li i#twitter:hover{
	color:#00aced;
}

#social-networks #maincontent ul li i#github:hover{
	color:#0072b1;
}

#social-networks #maincontent ul li i#linkedin:hover{
	color:#007bb6;
}

#social-networks #maincontent ul li i{
	margin-right:5px;
	padding-bottom: 10px;
}

#contact-me{
	background: url('backgrounds/ocean-cavern.jpg') 50% 0 repeat fixed #F1F3E8;
	position: absolute;
	top: 2800px;
	background-position: 50% -35px;

}

div#section-4{
	padding-top:0px;
}
  div#content-4{
  	width:100%;
  	height:600px;
  	background-color: white;

  }

  #content-4 p{
  	width:90%;
  	margin: 40px 0px 15px 40px;
  	font-size: 18px;
  	line-height: 30px;
		}



h1#title-quote{
	color:white;
	text-align: center;
	margin:auto;
	padding-top:50px;
	padding-bottom:50px;
	font-family: 'Signika', 'Lucida Grande', Verdana, sans-serif;
}