<div id="header_container">

	<header>
				<div id="header-left" class="col span_1_of_2">
					<%= image_tag('profile-joshua.jpg', :id => "profile-joshua") %>
					Joshua Chestang</div>
				<div id="header-right" class="col span_1_of_2">
					<ul>
						<li><a href="#about-me"><i class="icon-rocket"></i>About Me</a></li>
						<li><a href="#my-work"><i class="icon-cogs"> </i>My Work</a></li>
						<li><a href="#music"><i class="icon-music"> </i>Music</a></li>
						<li><a href="#contact-me"><i class="icon-envelope"> </i>Contact</a></li>
					</ul>
				</div>
	</header>

</div>