<div id="header_container">

	<header>
				<div id="header-left" class="col span_1_of_2">
					<%= image_tag('profile-joshua.jpg', :id => "profile-joshua") %>
					Joshua Chestang</div>
				<div id="header-right" class="col span_1_of_2">
					<ul>
						<li><i class="icon-rocket"> </i>About Me</li>
						<li><i class="icon-music"> </i>Music</li>
						<li><i class="icon-cogs"> </i>My Work</li>
						<li><i class="icon-envelope"> </i>Contact</li>
					</ul>
				</div>
	</header>

</div>